@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
.nav
{
  height: 50px;
  width:auto;
  background-color:#cccccc;
  /* opacity: 0.3; */
  /* border-style: solid; */
  
 /* border-radius: 5px; */
 margin-top: 15px;
 padding-top: 10px;
 outline: thick ridge #cccccc;
 




}
#nav-home
{
  position: relative;
  color: wheat;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 25px;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Rubik Distressed', cursive;

  
 
  
 
}
#nav-login
{
  color:wheat;
  padding-left: 20px;
  font-size: 25px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Rubik Distressed', cursive;

 
  

}
#nav-login :hover
{
  color: black;
}